/* fonts */
/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS";
    background-color: rgb(237, 243, 235) !important;
}

a{
    text-decoration: none;
    color: whitesmoke !important;
}
a:hover{
    color:chocolate !important;
}

/* 加载动画 */
#loader {
    position: fixed;
      top: 0;   
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(37, 80, 42); /* 背景颜色，可以根据需要进行调整 */
      z-index: 999999;
    }
    #loader img{
        padding-top: 100px;
        width: 40% !important;
        height:auto;
    }
/* 导航栏 */
/* header */
/* header */
.header {
    /* background-image: url("./images/header-bg.png"); */
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.navbar {
    font-family: "var(--bs-body-font-family)";
    background-color: rgb(210, 230, 178) !important;
    top: 0 !important;
    left: 0 !important;
    display: flex !important;
    width: 100% !important;
    padding: 1px 50px !important;
    align-items: center !important;
}

.navbar ul {
    right:0px;
    text-align: center !important;
    width: 58%;
    position: absolute;
    background-color: rgb(210, 230, 178) !important;
    display: flex;
}
.navbar ul .second{
    height:40px;
    width:270px;
}
.navbar ul div li {
    list-style: none !important;
    display: inline-block !important;
    /* margin: 0 25px !important; */
    position: relative;
    margin-left:-10px;
    margin-right:18px;
}

.navbar ul div li a {
    text-decoration: none !important;
}

.navbar ul div li a div {
    color: black;
    float: left;
}

.ims {
    top:-10px;
    position: relative;
    /* float:left; */
    width: 22%;
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}


.navbar ul .first ul {
    display: none;
    position: absolute;
    right:-45px;
    top:40px;
    width: 268%;
    box-shadow: 0 10px 10px rgba(10, 20, 20, .20), 0 0 10px rgba(10, 20, 20, .20);
    text-align: center;
    border-radius: 10px;
    background-color:  rgb(210, 230, 178);
}
.navbar ul .first ul li{
    margin-left: 3px;
    align-items: center;
    text-align: left;
}
.navbar ul .first ul li a{
    display: block;
    color: black;
}
.navbar ul .first ul li img{
    width:20%;
}
.container .nav ul li a:hover {
    background-color: #e1e1e1;
}

.nav-item:hover {
    color: whitesmoke !important;
}

.cool-link::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    top: 2em;
    opacity: 0;
    height: 3px;
    background: #FE9901;
    margin: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.cool-link:hover::after {
    width: 90%;
    height: 3px;
    opacity: 1;
    position: relative;
    margin: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.logo {
    width: 70px !important;
    height: 70px !important;
}

.btn {
    padding: 10px 20px;
    background: var(--gradient-3);
    border-radius: 50px !important;
}

.btn:hover {
    background: linear-gradient(to bottom right, rgb(255, 111, 92), rgb(255, 207, 145));
}

.section0 img{
    width: 100%;
}
.section0 .Text{
    top:300px;
    left:0;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    
}

/* 主体内容 */
.page{
    /* position: absolute; */
    margin-left: 265px;
    width: 1250px;
    background-color: rgb(238,253,231);
    right: 20px;
    border-radius: 20px;
    top: 980px;

}
.page h1{
    text-align: center;
    margin-top: 50px;

}
.page p{
    margin-top:10px;
}
.page div{
    margin-top: 40px;
}
.page .s2 p{
    margin-top:60px;
}
.section1 .title{
    font-size: 20px;
    font-weight: 400;
}
.section1 .content{
    text-indent: 2em;
}
.section1 img{
    width:300px;
    height:auto;
}
.solo{
    margin-left:450px;
}
.section1 div img{
    margin-left:180px;
}
.side{
    top:130px;
    position:fixed;
    height: 380px;
    width: 190px;
    background-color: rgb(91, 113, 94) ;
    border-radius:0 20px 20px 0;
    z-index: 0;
    opacity: 0;
    transition-property: opacity,left;
    transition-duration:0.8s ;
}
.s3{
    height: 570 px;
}
.sidesup{
    height: 190px;
}
.side h1{
    font-size: 30px;
}
.si {
    text-align: center;
    color: azure;
    height: 95px;
    
}
.si {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.si h1{
    font-size: 22px;
}


/* Footer */
.footer {
    color:whitesmoke !important;
    margin-top: 80px !important;
    /* background-image: url("./images/footer-agency.png"); */
    background-color: rgb(37, 80, 42) !important;
    background-size: cover !important;
    font-family: var(--bs-body-font-family);
}
.footer a:hover{
    color:chocolate;
}

/* 独特的文字 */
.private {
    top: -110px;
    background-image: linear-gradient(to top, rgb(237, 243, 235) 50%, rgb(37, 80, 42) 50%) !important;
    position: relative !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    z-index: 0;
}

.col4 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.col4 h1{
    margin-bottom: 30px;
}

.fleft {
    margin-left: 150px;
}

.fmid {
    margin-left: 65px;
}

.bottom {
    color: whitesmoke;
    margin-top: 20px;
}
.footer1{
    width:600px;
}
.footer1 h1 {
    font-size: 120px;
    margin-bottom: 30px;
}
.upper{
    margin-top: -95px;
}
.footerLogo{
    width:120px !important;
    height: auto !important;
    margin-right: 20px;
}
.lowerr img{
    width:40% !important;
    margin-left: 2px;
}

.footer2 h4,
.footer3 h4,
.footer4 h4 {
    color: whitesmoke !important;
    font-weight: 400 !important;
}

.footer hr {
    width: 90%;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    padding: 30px;
    font-weight: 400;
}




/* scroll to top */
#scrolltp {
    color: whitesmoke;
    background: tomato;
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    transition: opacity 0.5s;
}
#scrolltp:hover {
    transform: scale(1.25);
    transition: transform 0.5s ease-in-out;
}


/* animations */
@keyframes scaleup {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }

}

.grid-wrapper,
.section2-content {
    flex-basis: 50%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2em;
    padding: 2rem;
}

.grid-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}