/* 加载动画 */
#loader {
    position: fixed;
      top: 0;   
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(37, 80, 42); /* 背景颜色，可以根据需要进行调整 */
      z-index: 999999;
    }
    #loader img{
        padding-top: 100px;
        width: 40% !important;
        height:auto;
    }

/* 内容部分 */
body{
    font-family: "Comic Sans MS" !important;
}
/* 右上角位置Day2 */
.rightTop{
    margin-top: 50px;
}
.lines{
    width: 60% !important;
    margin-left: 250px;
}
/* section4 */
.section4 {
    margin-top: 50px;
}

.section4 .total {
    display: flex;
}

.section4 .left {
    margin-right:10px;
    width: 50%;
}

.section4 .left img {
    width: 100%;
}

.section4 .title {
    font-size: 40px;
    padding-left: 1rem;
    z-index: 9999;
}
.section4 .number-right {
    position: relative;
    width:9% !important;
    height:auto;
    float: right;
    top:-56px;
    margin-right: -44px;
    z-index: 999;
}
.section4 .number-left {
    position: relative;
    width:9% !important;
    float: left;
    top:-58px;
    margin-left: -47px;
    color: rgb(91, 113, 94);
    z-index: 999;
}

.section4 .line {
    width: 25% !important;
    height:auto;
    position: relative; /* 添加相对定位 */
    margin-bottom: -40px;
    top:-46px;
    left:19px;
}

.section4 .vertical-line {
    /* float: left;
    width: 15px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    transform: rotateY('90deg');
    border: none;
    background-image: linear-gradient(to bottom, transparent 50%, rgb(91, 113, 94) 50%) !important;
    background-position: 0 0;
    background-size: 20px 50px;
    background-repeat: repeat-y;
    transform: rotateY('90deg'); */
    width:8px;
}

.section4 p{
    padding-left:1rem;
}

.section4 .right {
    margin-left:10px;
    width: 50%;
}

.section4 .right img {
    width: 100%;
}

/* 小圆点 */
.circleOuter{
    position: relative;
    padding-left: 10px;
}
.circle-red {
    margin-top: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(215, 156, 141);
    border-radius: 50%;
}
.circle-yellow{
    margin-top: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(252, 227, 166);
    border-radius: 50%;
}
.circle-green{
    margin-top: 4px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(215, 231, 161);
    border-radius: 50%;
}
.liquorice{
    width: 60% !important;
    margin-left: 200px;
    margin-top: -20px;
    margin-bottom: -40px;
}

/* 内容图片 */
.jul-week2-glue-left{
    width: 12% !important;;
    position: absolute;
    top:208px;
    right:535px;
}
.jul-week2-glue-right{
    width: 12% !important;;
    position: absolute;
    top:465px;
    right:115px;
}

.JUL-Week2-Img{
    width:70% !important;
    height:auto;
    margin-left:85px;
    margin-top:15px;
    margin-bottom: 30px;
}
.JUL-Week4-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:45px;
    margin-bottom: 30px;
}
.jul-week4-glue-left{
    float: left;
    width: 12% !important;;
    position: absolute;
    top:1902px;
    right:1237px;
}
.jul-week4-glue-right{
    width: 12% !important;;
    position: absolute;
    top:2185px;
    right:767px;
}
.jul-week5-glue-left{
    width: 12% !important;;
    position: absolute;
    top:246px;
    right:1237px;
}
.JUL-Week5-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:25px;
    margin-bottom: 30px;
}
.jul-week5-glue-right{
    width: 12% !important;
    position: absolute;
    top:530px;
    right:767px;
}

.AUG-Week2-Img-1{
    width:70% !important;
    height:auto;
    margin-left:85px;
    margin-top:15px;
    margin-bottom: 20px;
}
.aug-week2-glue-left-1{
    width: 12% !important;;
    position: absolute;
    top:208px;
    right:535px;
}
.aug-week2-glue-right-1{
    width: 12% !important;;
    position: absolute;
    top:350px;
    right:115px;
}
.AUG-Week2-Img-3{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:35px;
    margin-bottom: 30px;
}

.aug-week2-glue-left-3{
    width: 12% !important;;
    position: absolute;
    top:228px;
    right:535px;
}
.aug-week2-glue-right-3{
    width: 12% !important;;
    position: absolute;
    top:490px;
    right:85px;
}
.AUG-Week2-Img-2{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:85px;
    margin-bottom: 30px;
}
.aug-week2-glue-left-2{
    width: 12% !important;;
    position: absolute;
    top:5139px;
    right:1235px;
}
.aug-week2-glue-right-2{
    width: 12% !important;;
    position: absolute;
    top:5450px;
    right:790px;
}
.AUG-Week3-Img-1{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:20px;
    margin-bottom: 20px;
}
.aug-week3-glue-left-1{
    width: 12% !important;;
    position: absolute;
    top:232px;
    right:532px;
}
.aug-week3-glue-right-1{
    width: 12% !important;;
    position: absolute;
    top:433px;
    right:88px;
}
.AUG-Week3-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:40px;
    margin-bottom: 50px;
}
.aug-week3-glue-left{
    width: 12% !important;;
    position: absolute;
    top:3532px;
    right:1232px;
}
.aug-week3-glue-right{
    width: 12% !important;;
    position: absolute;
    top:3789px;
    right:763px;
}
.grapefruit{
    float: right;
    width: 50% !important;
}
.rightTop2{
    margin-top: 170px;
}
.liquorice2{
    width: 90% !important;
    margin-top: 50px;
    margin-left:30px;
}

.SEP-Week1-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:40px;
    margin-bottom: 50px;
}
.sep-week1-glue-left{
    width: 12% !important;;
    position: absolute;
    top:1180px;
    right:1232px;
}
.sep-week1-glue-right{
    width: 12% !important;;
    position: absolute;
    top:1424px;
    right:773px;
}
.liquorice3{
    float: right;
    width: 70% !important;
}
.rightTop3{
    margin-top:150px
}
.SEP-Week2-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:40px;
    margin-bottom: 50px;
}
.sep-week2-glue-left{
    width: 12% !important;;
    position: absolute;
    top:2390px;
    right:1232px;
}
.sep-week2-glue-right{
    width: 12% !important;;
    position: absolute;
    top:2845px;
    right:773px;
}
.SEP-Week3-Img{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:20px;
    margin-bottom: 40px;
}
.sep-week3-glue-left{
    width: 12% !important;;
    position: absolute;
    top:985px;
    right:532px;
}
.sep-week3-glue-right{
    width: 12% !important;;
    position: absolute;
    top:1245px;
    right:93px;
}


/* drylab */
.lines2{
    width: 60% !important;
    margin-top:20px;
    margin-left: 220px;
    margin-bottom:10px;
}

.textFont{
    font-size: 30px;
    margin-left: 30px;
}
.circleOuter2{
    position: relative;
    padding-left: 10px;
}
.circle-red2{
    margin-top: 10px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(215, 156, 141);
    border-radius: 50%;
}
.circle-yellow2{
    margin-top: 10px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(252, 227, 166);
    border-radius: 50%;
}
.circle-green2{
    margin-top: 10px;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(215, 231, 161);
    border-radius: 50%;
}
.title2{
    font-size: 60px;
    padding-left: 1rem;
    margin-top:30px;
    z-index: 9999;
}
.line2{
    width: 50% !important;
    margin-top:-80px;
    margin-left: 10px;
}


.jul-dl{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:50px;
    margin-bottom: 50px;
}
.section4 .number-left1{
    position: relative;
    width:9% !important;
    float: left;
    top:-68px;
    margin-left: -47px;
    color: rgb(91, 113, 94);
    z-index: 999;
}
.section4 .number-right1{
    position: relative;
    width:9% !important;
    float: right;
    top:-80px;
    margin-right: -45px;
    color: rgb(91, 113, 94);
    z-index: 999;
}
.jul-dl-glue-left{
    width: 12% !important;;
    position: absolute;
    top:250px;
    right:550px;
}
.jul-dl-glue-right{
    width: 12% !important;;
    position: absolute;
    top:545px;
    right:103px;
}
.vertical-line1{
    margin-top: 30px;
}
.aug-dl-1{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:220px;
    margin-bottom:120px;
}
.aug-dl-2{
    width:70% !important;
    height:auto;
    margin-left:65px;
    margin-top:50px;
    margin-bottom: 50px;
}
.aug-dl-3{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:125px;
    margin-bottom: 50px;
}
.aug-dl-left-1{
    width: 12% !important;;
    position: absolute;
    top:425px;
    right:548px;
}
.aug-dl-right-1{
    width: 12% !important;;
    position: absolute;
    top:710px;
    right:103px;
}
.aug-dl-left-2{
    width: 12% !important;;
    position: absolute;
    top:1245px;
    right:853px;
}
.aug-dl-right-2{
    width: 12% !important;;
    position: absolute;
    top: 964px;
    right:1226px;
}
.aug-dl-left-3{
    width: 12% !important;;
    position: absolute;
    top:1390px;
    right:548px;
}
.aug-dl-right-3{
    width: 12% !important;;
    position: absolute;
    top:1695px;
    right:103px;
}

.sep-dl-1{
    width:62% !important;
    height:auto;
    margin-left:120px;
    margin-top:50px;
    margin-bottom:20px;
}
.sep-dl-2{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:170px;
    margin-bottom: 150px;
}
.sep-dl-3{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:125px;
    margin-bottom: 150px;
}
.sep-dl-4{
    width:80% !important;
    height:auto;
    margin-left:65px;
    margin-top:175px;
    margin-bottom: 50px;
}
.sep-dl-left-1{
    width: 12% !important;;
    position: absolute;
    top:250px;
    right:488px;
}
.sep-dl-right-1{
    width: 12% !important;;
    position: absolute;
    top:500px;
    right:113px;
}
.sep-dl-left-2{
    width: 12% !important;;
    position: absolute;
    top:1145px;
    right:793px;
}
.sep-dl-right-2{
    width: 12% !important;;
    position: absolute;
    top: 764px;
    right:1256px;
}
.sep-dl-left-3{
    width: 12% !important;;
    position: absolute;
    top:1490px;
    right:548px;
}
.sep-dl-right-3{
    width: 12% !important;;
    position: absolute;
    top:1995px;
    right:1250px;
}
.sep-dl-left-4{
    width: 12% !important;;
    position: absolute;
    top:2190px;
    right:848px;
}
.sep-dl-right-4{
    width: 12% !important;;
    position: absolute;
    top:1695px;
    right:103px;
}
